
## R

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

## C++

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

## General/Windows

#GPG key
secring.*

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

## ignore all .Rdata files
*.Rdata

## ignore all temp files
~*
*.tmp
## only keep input/par files and report files
*.cov
*.dep
*.hes
*.b01
*.b02
*.b03
*.b04
*.bar
*.cor
*.eva
*.p01
*.p02
*.p03
*.p04
*.r01
*.r02
*.r03
*.r04
*.rep
*.ss_new
runnumber.ss
CompReport.sso
derived_posteriors.sso
echoinput.sso
ParmTrace.sso
posterior_obj_func.sso
posterior_vectors.sso
posteriors.sso
rebuild.sso
SIS_table.sso
warning.sso
*.std
*.log
*.jpg
*.png
*.rds

## ignore the test runs in SS3 Runs (will need to shut this off for actual use of the code)
#SS3 Runs/
##ignore all confidential files
HI CPUE prep/Confidential Data/
ERRDAP/
plots*/
.Rproj.user

